# Connect to the local database

In [ ]:
import psycopg2
%config SqlMagic.displaycon = False
%reload_ext sql

In [6]:
DB_Name = 'DVD_Rental'
DB_USER = 'postgres'
DB_PASSWORD = 'admin'
DB_HOST = 'localhost'
DB_PORT='5432'

In [7]:
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_HOST, DB_PORT, DB_Name)
%sql $conn_string

# Perform some simple data analysis

### In which countries do Rent A Film have a presence in and what is the customer base in each country? What are the total sales in each country?

In [18]:
%%sql
select c.country , count(Distinct c.customer_id) as customer_base ,sum(s.sales_amount) as total_revenue 
From star_schema.dimCustomer c 
join star_schema.FactSales s ON(c.customer_key=s.customer_key) 
Group by c.country 
order by customer_base desc  ;

108 rows affected.

[('India', 60, Decimal('6034.78')),
 ('China', 53, Decimal('5251.03')),
 ('United States', 36, Decimal('3685.31')),
 ('Japan', 31, Decimal('3122.51')),
 ('Mexico', 30, Decimal('2984.82')),
 ('Brazil', 28, Decimal('2919.19')),
 ('Russian Federation', 28, Decimal('2765.62')),
 ('Philippines', 20, Decimal('2219.70')),
 ('Turkey', 15, Decimal('1498.49')),
 ('Indonesia', 14, Decimal('1352.69')),
 ('Nigeria', 13, Decimal('1314.92')),
 ('Argentina', 13, Decimal('1298.80')),
 ('South Africa', 11, Decimal('1069.46')),
 ('Taiwan', 10, Decimal('1155.10')),
 ('United Kingdom', 9, Decimal('850.96')),
 ('Iran', 8, Decimal('877.96')),
 ('Poland', 8, Decimal('786.16')),
 ('Italy', 7, Decimal('753.26')),
 ('Germany', 7, Decimal('741.24')),
 ('Venezuela', 7, Decimal('632.43')),
 ('Egypt', 6, Decimal('659.48')),
 ('Ukraine', 6, Decimal('675.53')),
 ('Vietnam', 6, Decimal('676.45')),
 ('Colombia', 6, Decimal('661.54')),
 ('Spain', 5, Decimal('513.80')),
 ('Canada', 5, Decimal('559.70')),
 ('Saudi Arabia', 5, Decimal('452.94')),
 ('Netherlands', 5, Decimal('557.73')),
 ('Pakistan', 5, Decimal('473.84')),
 ('South Korea', 5, Decimal('527.77')),
 ('Peru', 4, Decimal('407.01')),
 ('France', 4, Decimal('334.12')),
 ('Yemen', 4, Decimal('473.93')),
 ('Israel', 4, Decimal('379.13')),
 ('Algeria', 3, Decimal('349.18')),
 ('Switzerland', 3, Decimal('248.41')),
 ('Tanzania', 3, Decimal('322.22')),
 ('United Arab Emirates', 3, Decimal('305.25')),
 ('Morocco', 3, Decimal('274.35')),
 ('Bangladesh', 3, Decimal('353.19')),
 ('Chile', 3, Decimal('303.34')),
 ('Thailand', 3, Decimal('401.08')),
 ('Malaysia', 3, Decimal('330.23')),
 ('Austria', 3, Decimal('284.30')),
 ('Paraguay', 3, Decimal('273.40')),
 ('Mozambique', 3, Decimal('315.25')),
 ('Ecuador', 3, Decimal('369.18')),
 ('Dominican Republic', 3, Decimal('304.26')),
 ('Sudan', 2, Decimal('202.51')),
 ('Bolivia', 2, Decimal('178.56')),
 ('Greece', 2, Decimal('204.54')),
 ('Belarus', 2, Decimal('271.36')),
 ('Bulgaria', 2, Decimal('194.52')),
 ('Yugoslavia', 2, Decimal('233.49')),
 ('Cambodia', 2, Decimal('179.51')),
 ('Cameroon', 2, Decimal('186.49')),
 ('Romania', 2, Decimal('218.42')),
 ('Puerto Rico', 2, Decimal('224.48')),
 ('Kazakstan', 2, Decimal('192.51')),
 ('Kenya', 2, Decimal('245.49')),
 ('Angola', 2, Decimal('187.55')),
 ('Latvia', 2, Decimal('249.43')),
 ('Azerbaijan', 2, Decimal('198.53')),
 ('Congo, The Democratic Republic of the', 2, Decimal('168.58')),
 ('Oman', 2, Decimal('161.56')),
 ('Myanmar', 2, Decimal('179.53')),
 ('French Polynesia', 2, Decimal('205.52')),
 ('Zambia', 1, Decimal('121.70')),
 ('American Samoa', 1, Decimal('47.85')),
 ('Anguilla', 1, Decimal('99.68')),
 ('Armenia', 1, Decimal('118.75')),
 ('Bahrain', 1, Decimal('108.76')),
 ('Brunei', 1, Decimal('107.66')),
 ('Chad', 1, Decimal('122.72')),
 ('Czech Republic', 1, Decimal('132.72')),
 ('Estonia', 1, Decimal('105.72')),
 ('Ethiopia', 1, Decimal('91.77')),
 ('Faroe Islands', 1, Decimal('96.76')),
 ('Finland', 1, Decimal('78.79')),
 ('French Guiana', 1, Decimal('97.80')),
 ('Gambia', 1, Decimal('114.73')),
 ('Greenland', 1, Decimal('119.72')),
 ('Holy See (Vatican City State)', 1, Decimal('146.68')),
 ('Hong Kong', 1, Decimal('104.76')),
 ('Hungary', 1, Decimal('111.71')),
 ('Iraq', 1, Decimal('111.73')),
 ('Kuwait', 1, Decimal('106.75')),
 ('Liechtenstein', 1, Decimal('99.74')),
 ('Lithuania', 1, Decimal('63.78')),
 ('Madagascar', 1, Decimal('92.79')),
 ('Malawi', 1, Decimal('121.73')),
 ('Moldova', 1, Decimal('127.66')),
 ('Nauru', 1, Decimal('143.70')),
 ('Nepal', 1, Decimal('93.83')),
 ('New Zealand', 1, Decimal('85.77')),
 ('North Korea', 1, Decimal('107.71')),
 ('Runion', 1, Decimal('211.55')),
 ('Saint Vincent and the Grenadines', 1, Decimal('64.82')),
 ('Senegal', 1, Decimal('95.76')),
 ('Slovakia', 1, Decimal('80.77')),
 ('Sri Lanka', 1, Decimal('103.73')),
 ('Sweden', 1, Decimal('139.67')),
 ('Tonga', 1, Decimal('64.84')),
 ('Tunisia', 1, Decimal('73.78')),
 ('Turkmenistan', 1, Decimal('126.74')),
 ('Tuvalu', 1, Decimal('93.78')),
 ('Virgin Islands, U.S.', 1, Decimal('121.69')),
 ('Afghanistan', 1, Decimal('67.82'))]

## Who are the top 5 customers per total sales and can we get their detail just in case Rent A Film wants to reward them?

In [33]:
%%sql
select c.customer_id , concat(c.first_name,' ',c.last_name) as full_name , sum(F.sales_amount) as total_revenue
from star_schema.dimCustomer c
join star_schema.FactSales F ON (c.customer_key=F.customer_key) 
Group by 1,2
order by total_revenue desc
limit 5;

5 rows affected.

[(148, 'Eleanor Hunt', Decimal('211.55')),
 (526, 'Karl Seal', Decimal('208.58')),
 (178, 'Marion Snyder', Decimal('194.61')),
 (137, 'Rhonda Kennedy', Decimal('191.62')),
 (144, 'Clara Shaw', Decimal('189.60'))]

### which categories of films is most profit

In [35]:
%%sql 
select M.category ,sum(F.sales_amount) as total_revenue 
from star_schema.dimMovie M
join star_schema.FactSales F ON (M.movie_key=F.movie_key) 
Group by M.category 
order by total_revenue desc;

16 rows affected.

[('Sports', Decimal('5750.83')),
 ('Action', Decimal('4894.86')),
 ('Animation', Decimal('4589.47')),
 ('Drama', Decimal('4237.66')),
 ('New', Decimal('4232.72')),
 ('Horror', Decimal('4123.90')),
 ('Documentary', Decimal('3942.60')),
 ('Foreign', Decimal('3653.84')),
 ('Classics', Decimal('3532.66')),
 ('Children', Decimal('3510.87')),
 ('Sci-Fi', Decimal('3497.71')),
 ('Family', Decimal('3486.59')),
 ('Travel', Decimal('3314.48')),
 ('Comedy', Decimal('3082.68')),
 ('Music', Decimal('2849.33')),
 ('Games', Decimal('2611.84'))]